.fa-shopping-cart{
    color: #fff;
    padding: 4px;
}

.fa-shopping-cart:hover{
    background-color: #FE9202;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}
.fa-trash{
    font-size: 1.5rem;
}
.contenido-carrito>.popover{
    left: 500px;
}

.grilla> .imagen-producto-mini{
    width: 5rem;
    height: 5rem;
    margin: 0;
    grid-column-end: span 5;
}
.cantidad_mini{
    grid-column-end: span 2;
}
.nombre_mini{
    grid-column-end: span 5;
}

.row>.button-operator{
    padding-left: 0;
    padding-right: 0;
}

.row>.button-plus{
    margin-left: 4rem;
}
.row>p{
    font-weight: 800;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.col>button{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #DD9B2D;
    border: 2px solid #DD9B2D;
    color: white;
    font: 26px bold;
}

.botones_agregar_carrito{
    width: 15rem ;
}

span{
    color: white;
    font-size: 1.3rem;
    font-weight: 1200;
    float: right;
    margin-left: 10px;
}

.row>.boton-de-pago, a>.boton-de-pago{
    background-color: #DD9B2D;
    border: none;
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.row>.boton-de-pago:hover{
    background-color: #DD9B2D;
}

.row>.boton-de-pago disabled{
    background-color: gray;
    border: none;
    font-weight: 1000;
    font-size: 1.3rem;
}
.grilla>.boton-de-pago{
    background-color: #DD9B2D;
    border: solid 2px #DD9B2D;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.grilla{
    display: grid;
    gap:10px 12px;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 5px;
    /*grid-template-rows: ;*/
}

.section{
    margin: 0 auto;
    max-width: 50rem;
    width: 100%;
    background-color: beige;
    border-radius: 2%;
    padding: 1rem;
    color: #DD9B2D;
}
h1, .texto{
    color: #DD9B2D;
}
.btn-secondary{
    background-color:#DD9B2D ;
    border-color: #DD9B2D;
}
.section p{
    color: #DD9B2D;
    font-weight: 700;
    font-size: 1.5rem;
}
.colu-1, .colu-2 , .colu-3, .colu-4, .colu-5{
    margin: 0 auto;
}
.colu-1{
    grid-column-end: span 1;
}
.texto_producto,.cantidad_producto,.trash_producto{
    grid-column-end: span 2;
}
.nombre_producto,.price{
    grid-column-end: span 3;
}

.imagen_resumen{
    border-radius: 2%;
    width: 10rem;
    height: 10rem;
    grid-column-end: span 3;
}

i{
    margin: 0 auto;
    cursor: pointer;
}

.total{
    text-align: right;
    grid-column-end: span 9;
}
.total,.price{
    background:none;
    color: #DD9B2D;
    font-weight: 700;
}

.texto{
    text-align: center;
    background: none;
}
a > .boton,a > .boton2 {
    border-radius: 2%;
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer; 
    background-color: #DD9B2D;
    color: white;
    font-size: 20px;
    font-weight: 900;
}
a > .boton{
    margin-left: 23vw;
}
a > .boton2{
    margin-left: 55px;
    margin-top: 10px;
}
@media screen and (max-width:960px){
    .fa-shopping-cart{
        display: none;
    }
    .botones_agregar_carrito{
        width: 100% ;
    }
    .button-operator>button, .boton, .boton-de-pago{
        display: block;
        text-decoration: none;
    }
    .row>.button-plus{
        margin-left: 90px;
    }
    .cantidad{
        margin-left: 50px;
    }
    br{
        display: none;
    }
    .imagen_resumen{
        grid-column-end: span 12;
        width: 100%;
        height: 100%;
    }
    .nombre_producto{
        grid-column-end: span 5;
    }
    .texto_producto{
        grid-column-end: span 3;
    }
    .cantidad_producto, .trash_producto, .price{
        grid-column-end: span 2;
    }
    .total{
        grid-column-end: span 10;
    }
}
