
h1{
    text-align: center;
}
h2{
    background: rgba(78,53,22,1);
    color: white;
    margin-bottom: 0;
}
.banner{
    margin-bottom: 50px;
    margin-top: 50px;
    width: 650px;
}
.overlay{
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-out;
    border-radius: 0.2em;
}
.imagen_catalogo{
    width: 300px;
    height: 300px;
    border-radius: 0.2em;
    display: block;
}
.imagen_catalogo:hover {
    transform: scale(1.2);
    transition: all 0.2s ease;
}
p{
    font-weight: 500;
    color: white;
}
.imagen_topsale{
    width: 15rem;
    height: 15rem;

}
.contenedor,.contenedor2{    
    display: flex;
    flex-direction: row;
    background: rgba(78,53,22,1);
    margin: 0;
}
.catalogo{
    padding-top: 20px;
}
.contenedor2{
    padding-top: 15px;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    background-color: rgba(184,110,14,0.3) ;
    padding-bottom:1rem ;
    border-radius: 0 0 5px 5px;
}
.image{
    position: relative;
    width: 700px;
    padding-top: 20px;
    border-radius: 3px;
    background: rgba(78,53,22,1);
}
.image_topsale{
    position: relative;
    width: 15rem;
}
.image_img{
    display: block;
    width: 100%;
    margin: 0;
    height: 400px;
}
.image_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.25s;
    opacity: 0;
    margin-top: 20px;
}
.overlay_topsale{
    height: 15rem;
    width: 15rem;
    margin-top: 0;
}
.image_overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}
.image_overlay:hover {
    opacity: 1;
}
.image_overlay:hover > * {
    transform: translateY(0);
}
.image_title{
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Petit Formal Script', cursive;
}
.topsale_title{
    font-size: 1.5em;
}
.section_title{
    font-size: 2em;
    font-weight: 500;
    color: white;
    padding-left: 0.8rem;
    padding-top: 0.8rem;
    background-color: rgba(184,110,14,0.3) ;
    border-radius: 5px 5px 0 0;
}
.image_description{
    font-size: 1.25em;
    margin-top: 0.25em;
}
.topsale{
    background-color: rgba(78,53,22,1);
    padding:1rem;
}

@media screen and (max-width:960px){
    .banner, img{
        width: 100%;
        margin-left: 0;
    }
    .velas{
        display: none;
    }
    .luces  .image_overlay  {
        opacity: 0.8;
    }
    .imagen_catalogo{
        width: 100%;
    }
}