h1{
    text-align: center;
}
.banner{
    width: 850px;
    margin-left: 240px;
    margin-bottom: 50px;
}
img{
    width: 400px;
    height: 400px;
    margin-left: 20px;
}
p{
    margin-left: 20px;
    font-weight: 600;
}

@media screen and (max-width:960px){
    .banner, img{
        width: 100%;
        margin-left: 0;
    }
}